/* Typography
Include: font-family, font-size, color */
html,
body {
  font-family: '微软雅黑', Tahoma;
  font-size: 15px;
  line-height: 1.50;
  color: #000000;
  background-color: #dddddd;
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}
h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
  font-weight: 700;
}
h5 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
h6 {
  font-weight: 700;
}
h1 span,
h2 span,
h3 span,
h4 span {
  color: #339BEB;
}
.text-colored {
  color: #AB3B3A;
}
a {
  color: #AB3B3A;
  text-decoration: none!important;
}
a:hover {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
.large {
  font-size: 18px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* The perfect clearfix
----------------------------------------------------------------------------- */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
/* Header without Bootstrap
----------------------------------------------------------------------------- */
@media (min-width: 800px) {
  .header {
    color: #000000;
    padding: 0;
    background-color: #dddddd;
    transition: all 0.3s ease-in-out;
    top: 0;
    border: none;
    border-radius: 0px;
    width: 100%;
    z-index: 1030;
  }
  .header .logo {
    float: left;
    width: 50%;
    transition: all 0.3s ease-in-out;
  }
  .header .logo img {
    height: 50px;
  }
  .header .logo:hover {
    opacity: 0.7;
  }
  .header .login {
    width: 50%;
    float: left;
  }
  .header .login .search {
    width: 50%;
    float: left;
    height: 50px;
    line-height: 46px;
  }
  .header .login .search input {
    height: 26px;
    border-radius: 13px 0px 0px 13px;
    border: none;
    width: 80%;
    display: inline-block;
    padding: 0 0 0 5%;
    font-size: 12px;
    font-weight: bolder;
  }
  .header .login .search button {
    height: 26px;
    border-radius: 0px 13px 13px 0px;
    border: none;
    width: 15%;
    background-color: #AB3B3A;
    color: #ffffff;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
  }
  .header .login .login-right {
    float: right;
    width: 45%;
    margin-right: 5px;
  }
  .header .login .login-right li {
    float: right;
    height: 50px;
    width: 50%;
    text-align: center;
  }
  .header .login .login-right li a {
    color: #AB3B3A;
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  .header .login .login-right li a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .header .login .login-right li:first-child a {
    padding-right: 60px;
  }
}
@media (max-width: 800px) {
  .header {
    color: #000000;
    padding: 0;
    background-color: #dddddd;
    transition: all 0.3s ease-in-out;
    top: 0;
    border: none;
    border-radius: 0px;
    width: 100%;
    z-index: 1030;
  }
  .header .logo {
    float: left;
    width: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin: 0 auto;
  }
  .header .logo a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .header .logo a img {
    height: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .header .logo:hover {
    opacity: 0.7;
  }
  .header .login {
    width: 100%;
    float: left;
  }
  .header .login .search {
    width: 70%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
  }
  .header .login .search input {
    height: 26px;
    border-radius: 13px 0px 0px 13px;
    border: none;
    width: 80%;
    display: inline-block;
    padding: 0 0 0 5%;
    font-size: 12px;
    font-weight: bolder;
  }
  .header .login .search button {
    height: 26px;
    border-radius: 0px 13px 13px 0px;
    border: none;
    width: 15%;
    background-color: #AB3B3A;
    color: #ffffff;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
  }
  .header .login .login-right {
    width: 70%;
    margin: 0 auto;
  }
  .header .login .login-right li {
    float: right;
    height: 50px;
    width: 50%;
    text-align: center;
  }
  .header .login .login-right li a {
    color: #AB3B3A;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  .header .login .login-right li a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .header .login .login-right li:first-child a {
    padding-right: 60px;
  }
}
/* Title
----------------------------------------------------------------------------- */
@media (min-width: 900px) {
  .title-set {
    overflow: hidden;
    background-color: #dddddd;
  }
  .title-set .title-bg {
    background: url("../images/title-bg.png");
    height: 150px;
    width: calc(100% - 30px);
    margin: 0px auto 15px auto;
    overflow: hidden;
  }
  .title-set .title-bg .title-name {
    color: #ffffff;
    background-color: #AB3B3A;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    font-size: 30px;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
    font-weight: bolder;
  }
}
@media (max-width: 900px) {
  .title-set {
    overflow: hidden;
    background-color: #dddddd;
  }
  .title-set .title-bg {
    background: url("../images/title-bg.png");
    height: 70px;
    width: calc(100% - 30px);
    margin: 0px auto 15px auto;
    overflow: hidden;
  }
  .title-set .title-bg .title-name {
    color: #ffffff;
    background-color: #AB3B3A;
    width: 45%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bolder;
  }
}
/* Basic
----------------------------------------------------------------------------- */
@media (min-width: 550px) {
  .basic-wrap {
    background-color: #dddddd;
    color: #ffffff;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }
  .basic-wrap .basic-contain {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #AB3B3A;
  }
  .basic-wrap .basic-contain .basic-list li {
    float: left;
    text-align: center;
    border-bottom: 2px #FFFFFF solid;
    border-right: 2px #ffffff solid;
    margin-right: -1px;
    margin-left: -1px;
    height: 30px;
    line-height: 30px;
  }
  .basic-wrap .basic-contain .basic-list .resp {
    display: none;
  }
  .basic-wrap .basic-contain .basic-list .stock_code {
    width: 16%;
  }
  .basic-wrap .basic-contain .basic-list .stock_name {
    width: 20%;
  }
  .basic-wrap .basic-contain .basic-list .industry {
    width: 54%;
  }
  .basic-wrap .basic-contain .basic-list .basic_place {
    width: 10%;
  }
  .basic-wrap .basic-contain .basic-list .basic_product {
    width: 60%;
  }
  .basic-wrap .basic-contain .basic-list .concept {
    width: 40%;
  }
  .basic-wrap .basic-contain #content-list1,
  .basic-wrap .basic-contain #content-list2 {
    background-color: #403f44;
  }
}
@media (max-width: 550px) {
  .basic-wrap {
    background-color: #dddddd;
    color: #ffffff;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }
  .basic-wrap .basic-contain {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #AB3B3A;
  }
  .basic-wrap .basic-contain .basic-list li {
    float: left;
    text-align: center;
    border-bottom: 2px #FFFFFF solid;
    border-right: 2px #ffffff solid;
    margin-right: -1px;
    margin-left: -1px;
    height: 30px;
    line-height: 30px;
  }
  .basic-wrap .basic-contain .basic-list .resp {
    background-color: #403f44;
  }
  .basic-wrap .basic-contain .basic-list .stock_code {
    width: 50%;
  }
  .basic-wrap .basic-contain .basic-list .stock_name {
    width: 50%;
  }
  .basic-wrap .basic-contain .basic-list .industry {
    width: 100%;
  }
  .basic-wrap .basic-contain .basic-list .basic_place {
    width: 100%;
  }
  .basic-wrap .basic-contain .basic-list .basic_product {
    width: 100%;
  }
  .basic-wrap .basic-contain .basic-list .concept {
    width: 100%;
  }
  .basic-wrap .basic-contain #content-list1,
  .basic-wrap .basic-contain #content-list2 {
    display: none;
  }
}
/* Form
----------------------------------------------------------------------------- */
@media (min-width: 800px) {
  .form-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #403f44;
    color: #FFFFFF;
    overflow: hidden;
  }
  .form-wrap .demo {
    margin: 0 auto;
    width: 100%;
  }
  .form-wrap .demo form .visualize,
  .form-wrap .demo form .visualize-line {
    width: 45%;
    border: 0px;
    margin: 30px auto 30px auto;
  }
  .form-wrap .demo form .intro {
    text-align: center;
    color: #ffffff;
    margin: 50px auto 20px auto !important;
    width: 80%;
    font-size: 16px;
  }
  .form-wrap .demo form .input {
    text-align: center;
  }
  .form-wrap .demo form .input span {
    position: relative;
    bottom: 3px;
  }
  .form-wrap .demo form button {
    border: none;
    padding: 10px 20px;
    margin: 40px auto;
    display: block;
    background-color: #AB3B3A;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
  }
}
@media (max-width: 800px) {
  .form-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #403f44;
    color: #FFFFFF;
    overflow: hidden;
  }
  .form-wrap .demo {
    margin: 0 auto;
    width: 100%;
  }
  .form-wrap .demo form .visualize,
  .form-wrap .demo form .visualize-line {
    width: 45%;
    border: 0px;
    margin: 30px auto 30px auto;
  }
  .form-wrap .demo form .intro {
    text-align: center;
    color: #ffffff;
    margin: 50px auto 20px auto !important;
    width: 80%;
    font-size: 16px;
  }
  .form-wrap .demo form .input {
    text-align: center;
  }
  .form-wrap .demo form .input span {
    position: relative;
    bottom: 3px;
  }
  .form-wrap .demo form button {
    border: none;
    padding: 10px 20px;
    margin: 40px auto;
    display: block;
    background-color: #AB3B3A;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
  }
}
/* Footer without Bootstrap
----------------------------------------------------------------------------- */
@media (min-width: 500px) {
  .banner-caption-foot {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 4;
    background-color: #000000;
    content: "";
  }
  .banner-caption-foot .ft-left {
    margin-left: 70px;
    float: left;
  }
  .banner-caption-foot .ft-left li {
    float: left;
    list-style: none;
    line-height: 40px;
    margin-right: 12px;
    color: #ffffff;
  }
  .banner-caption-foot .ft-left li a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-left li a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
  .banner-caption-foot .ft-right {
    margin-right: 40px;
    float: right;
  }
  .banner-caption-foot .ft-right li {
    float: right;
    list-style: none;
    line-height: 40px;
    margin-left: 12px;
    color: #ffffff;
  }
  .banner-caption-foot .ft-right li a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-right li a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
}
@media (max-width: 500px) {
  .banner-caption-foot {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    font-size: 10px;
  }
  .banner-caption-foot .ft-left {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .banner-caption-foot .ft-left li:nth-child(2n+1) {
    width: 25%;
    float: left;
    list-style: none;
    line-height: 20px;
  }
  .banner-caption-foot .ft-left li:nth-child(2n+1) a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-left li:nth-child(2n+1) a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
  .banner-caption-foot .ft-left li:nth-child(2n) {
    width: 12.5%;
    float: left;
    list-style: none;
    line-height: 20px;
  }
  .banner-caption-foot .ft-left li:nth-child(2n) a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-left li:nth-child(2n) a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
  .banner-caption-foot .ft-right {
    float: right;
    width: 80%;
    margin: 0 auto;
  }
  .banner-caption-foot .ft-right li:nth-child(2n+1) {
    float: right;
    list-style: none;
    line-height: 20px;
    width: 40%;
  }
  .banner-caption-foot .ft-right li:nth-child(2n+1) a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-right li:nth-child(2n+1) a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
  .banner-caption-foot .ft-right li:nth-child(2n) {
    float: right;
    list-style: none;
    line-height: 20px;
    width: 20%;
  }
  .banner-caption-foot .ft-right li:nth-child(2n) a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .banner-caption-foot .ft-right li:nth-child(2n) a:hover {
    text-decoration: none;
    color: #AB3B3A;
  }
}
/* Stocklist without Bootstrap
----------------------------------------------------------------------------- */
